In [ ]:
import pycountry
import pandas as pd
import sys

sys.path.append('..')

from package.country_name import ETL_country_name, ETL_country_code, ETL_babel, ETL_pycountry

ETL_pycountry()
ETL_country_code()
US_series = ETL_babel("en", "US")
UK_series = ETL_babel("en", "UK")
CN_series = ETL_babel("zh", "CN")
TW_series = ETL_babel("zh", "TW")
ETL_country_name()

        alpha_2 alpha_3 zh_CN  zh_TW          en_US          en_UK
numeric
533          AW     ABW   阿鲁巴  荷屬阿魯巴          Aruba          Aruba
4            AF     AFG   阿富汗    阿富汗    Afghanistan    Afghanistan
24           AO     AGO   安哥拉    安哥拉         Angola         Angola
660          AI     AIA   安圭拉    安奎拉       Anguilla       Anguilla
248          AX     ALA  奥兰群岛   奧蘭群島  Åland Islands  Åland Islands
...         ...     ...   ...    ...            ...            ...
882          WS     WSM   萨摩亚    薩摩亞          Samoa          Samoa
887          YE     YEM    也门     葉門          Yemen          Yemen
710          ZA     ZAF    南非     南非   South Africa   South Africa
894          ZM     ZMB   赞比亚    尚比亞         Zambia         Zambia
716          ZW     ZWE  津巴布韦    辛巴威       Zimbabwe       Zimbabwe

[249 rows x 6 columns]