In [ ]:
import sys
sys.path.append('..')
from package.country_name import ETL_country_name, ETL_country_code, ETL_babel, ETL_pycountry

ETL_pycountry()
ETL_country_code()
US_series = ETL_babel("en_US")
UK_series = ETL_babel("en_UK")
CN_series = ETL_babel("zh_CN")
TW_series = ETL_babel("zh_TW")
ETL_country_name()

,alpha_2,alpha_3,en_GB,zh_CN,zh_Hans_CN,zh_TW,en_US,en_UK,zh_Hant_TW
numeric,,,,,,,,,
533,AW,ABW,Aruba,阿鲁巴,阿鲁巴,荷屬阿魯巴,Aruba,Aruba,荷屬阿魯巴
4,AF,AFG,Afghanistan,阿富汗,阿富汗,阿富汗,Afghanistan,Afghanistan,阿富汗
24,AO,AGO,Angola,安哥拉,安哥拉,安哥拉,Angola,Angola,安哥拉
660,AI,AIA,Anguilla,安圭拉,安圭拉,安奎拉,Anguilla,Anguilla,安奎拉
248,AX,ALA,Åland Islands,奥兰群岛,奥兰群岛,奧蘭群島,Åland Islands,Åland Islands,奧蘭群島
...,...,...,...,...,...,...,...,...,...
882,WS,WSM,Samoa,萨摩亚,萨摩亚,薩摩亞,Samoa,Samoa,薩摩亞
887,YE,YEM,Yemen,也门,也门,葉門,Yemen,Yemen,葉門
710,ZA,ZAF,South Africa,南非,南非,南非,South Africa,South Africa,南非
894,ZM,ZMB,Zambia,赞比亚,赞比亚,尚比亞,Zambia,Zambia,尚比亞
716,ZW,ZWE,Zimbabwe,津巴布韦,津巴布韦,辛巴威,Zimbabwe,Zimbabwe,辛巴威