In [35]:
import pycountry
import pandas as pd

print(pycountry.countries)

columns = ["alpha_2", "alpha_3", "name"]

English_matrix = []
for country in pycountry.countries:
    country_list = []
    country_list.append(country.alpha_2)
    country_list.append(country.alpha_3)
    country_list.append(country.name.replace(' ', '_'))
    English_matrix.append(country_list)
    # print(country)

Englis_df = pd.DataFrame(English_matrix, columns=columns)
Englis_df = Englis_df.set_index("alpha_2")
Englis_df

<pycountry.ExistingCountries object at 0x104306c90>

        alpha_3           name
alpha_2
AW          ABW          Aruba
AF          AFG    Afghanistan
AO          AGO         Angola
AI          AIA       Anguilla
AX          ALA  Åland_Islands
...         ...            ...
WS          WSM          Samoa
YE          YEM          Yemen
ZA          ZAF   South_Africa
ZM          ZMB         Zambia
ZW          ZWE       Zimbabwe

[249 rows x 2 columns]

In [43]:
from babel import Locale

locale = Locale.parse('zh_CN')

territories = locale.territories

country_dict = {}
for code, name in territories.items():
    if code.isalpha():
        country_dict[code] = name
        # print(code, name)

Chinese_series = pd.Series(country_dict, name="CN")
Chinese_series

AC        阿森松岛
AD         安道尔
AE    阿拉伯联合酋长国
AF         阿富汗
AG     安提瓜和巴布达
        ...
YT         马约特
ZA          南非
ZM         赞比亚
ZW        津巴布韦
ZZ        未知地区
Name: CN, Length: 263, dtype: object

In [44]:
from babel import Locale

locale = Locale.parse('zh_TW')

territories = locale.territories

country_dict = {}
for code, name in territories.items():
    if code.isalpha():
        country_dict[code] = name
        # print(code, name)

Taiwan_series = pd.Series(country_dict, name="TW")
Taiwan_series

AC        阿森松島
AD         安道爾
AE    阿拉伯聯合大公國
AF         阿富汗
AG     安地卡及巴布達
        ...
YT        馬約特島
ZA          南非
ZM         尚比亞
ZW         辛巴威
ZZ        未知區域
Name: TW, Length: 263, dtype: object

In [48]:
df = Englis_df.drop(columns=["alpha_3"])
df.columns = ["EN"]
df = df.join(Chinese_series)
df = df.join(Taiwan_series)
df.to_csv("../data/country_names.csv")
df

                    EN    CN     TW
alpha_2
AW               Aruba   阿鲁巴  荷屬阿魯巴
AF         Afghanistan   阿富汗    阿富汗
AO              Angola   安哥拉    安哥拉
AI            Anguilla   安圭拉    安奎拉
AX       Åland_Islands  奥兰群岛   奧蘭群島
...                ...   ...    ...
WS               Samoa   萨摩亚    薩摩亞
YE               Yemen    也门     葉門
ZA        South_Africa    南非     南非
ZM              Zambia   赞比亚    尚比亞
ZW            Zimbabwe  津巴布韦    辛巴威

[249 rows x 3 columns]